@{
    ViewData["Title"] = "User Dashboard";
    Layout="_HomeLayout";
}
<h3 style="text-align:center;">Item List</h3>
<div id="grid"></div>

<div id="notification"></div>

@section Scripts {
    <script>
        $(document).ready(function () {
            loadGrid();
            loadWindow();
        });

        function loadWindow(){
            $("#notification").kendoNotification({
                autoHideAfter: 1500,
                position: {top: 30},
                width: 400
            });
        }

        function loadGrid() {
            $.ajax({
                url: "/Item/GetItems",
                success: function (data) {

                    $("#grid").kendoGrid({
                        dataSource: {
                            data,
                                schema: {
                                model: {
                                    fields: {
                                        itemid: { type: "number" },
                                        name: { type: "string" },
                                        image: { type: "file" },
                                        unitCost: { type: "number" }
                                    }
                                }
                            },
                            pageSize: 10
                        },
                        filterable: true,
                        pageable: true,
                        columns: [
                            {
                                field: "itemid",
                                label: "Name"
                            },
                            {
                                field: "name",
                                label: "Name"
                            },
                            {
                                field: "image",
                                title: "Image",
                                template: function (dataItem) {
                                    // assuming your images are stored in /uploads/
                                    return `<img src="/item_images/${dataItem.image}" alt="" style="width:60px;height:60px;border-radius:6px;object-fit:cover;" />`;
                                }
                            },
                            {
                                field: "unitCost",
                                label: "Unit Cost"
                            },
                            {
                                title: "Actions",
                                template: `<a class="k-button k-button-solid-info" style="color:white; padding:5px;" href="/Item/ItemPurchase/#=itemid#">Purchase</a>`
                            }
                        ]
                    });
                }
            });
        }
    </script>
}